@page "/landing"
@using Podcast.Shared
@model Podcast.Server.Pages.Landing

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.NET Podcasts</title>
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="preload" href="fonts/SegoeUI.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="fonts/SegoeUISemibold.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="fonts/SegoeUIBold.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="css/styles.css" as="style" />
    <link rel="preload" href="images/hero_landing_image.jpg" as="image" />
    <link rel="preload" href="images/download-app_store.png" as="image" />
    <link rel="preload" href="images/download-google_play.png" as="image" />
    <link rel="preload" href="images/download-microsoft.png" as="image" />
    <link rel="preload" href="js/scripts.js" as="script" />

    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <header id="header">
        <nav>
            <a href="#" title=".NET Podcasts" class="logo">
                <svg width="202"
                     height="49"
                     class="logo-image"
                     viewBox="0 0 202 49"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M82.6088 37.022H78.3092L66.9817 18.6142C66.6951 18.1485 66.4579 17.6652 66.2706 17.1646H66.1713C66.2596 17.7003 66.3037 18.8471 66.3037 20.605V37.022H62.5001V11.9775H67.0808L78.0282 29.9487C78.4912 30.694 78.7889 31.2063 78.9212 31.4856H78.9872C78.8771 30.8221 78.8219 29.6985 78.8219 28.1149V11.9775H82.6088V37.022ZM55.6898 37.5664C55.0151 37.5664 54.4417 37.3306 53.9694 36.8587C53.4971 36.3747 53.261 35.8 53.261 35.1347C53.261 34.457 53.4971 33.8764 53.9694 33.3924C54.4417 32.9084 55.0151 32.6664 55.6898 32.6664C56.3757 32.6664 56.9548 32.9084 57.427 33.3924C57.9105 33.8764 58.1523 34.457 58.1523 35.1347C58.1523 35.8 57.9105 36.3747 57.427 36.8587C56.9548 37.3306 56.3757 37.5664 55.6898 37.5664ZM88.0436 37.022H101.631V33.5116H92.0608V26.1065H100.382V22.5961H92.0608V15.5055H101.091V11.9775H88.0436V37.022ZM121.196 15.5055H114.231V37.022H110.208V15.5055H103.261V11.9775H121.196V15.5055ZM156.19 35.522H156.109C155.426 36.522 154.403 37.022 153.042 37.022C151.764 37.022 150.768 36.5819 150.055 35.7016C149.347 34.8214 148.994 33.5699 148.994 31.9472C148.994 30.3244 149.35 29.064 150.064 28.1658C150.777 27.2676 151.77 26.8185 153.042 26.8185C154.368 26.8185 155.384 27.3035 156.092 28.2736H156.208L156.145 27.564L156.109 26.8724V22.8664H157.59V36.8423H156.386L156.19 35.522ZM153.229 35.7735C154.24 35.7735 154.971 35.498 155.423 34.9472C155.881 34.3903 156.109 33.4951 156.109 32.2616V31.9472C156.109 30.552 155.878 29.558 155.414 28.9652C154.956 28.3664 154.222 28.067 153.211 28.067C152.343 28.067 151.678 28.4083 151.214 29.0909C150.756 29.7676 150.527 30.7256 150.527 31.9651C150.527 33.2226 150.756 34.1717 151.214 34.8124C151.672 35.4531 152.343 35.7735 153.229 35.7735ZM134.628 30.6089C135.532 29.8903 135.984 28.8664 135.984 27.537C135.984 24.9862 134.355 23.7107 131.097 23.7107H127.717V36.8423H129.233V31.6777H130.767C132.444 31.6777 133.731 31.3214 134.628 30.6089ZM130.598 30.3664H129.233V25.0311H130.928C132.123 25.0311 133.002 25.2437 133.567 25.6688C134.132 26.0939 134.414 26.7406 134.414 27.6089C134.414 28.573 134.114 29.2736 133.514 29.7107C132.913 30.1478 131.941 30.3664 130.598 30.3664ZM145.73 35.6747C146.533 34.7705 146.934 33.516 146.934 31.9113C146.934 30.3484 146.53 29.1089 145.721 28.1927C144.919 27.2766 143.834 26.8185 142.466 26.8185C141.051 26.8185 139.946 27.2676 139.149 28.1658C138.353 29.058 137.954 30.3065 137.954 31.9113C137.954 32.9472 138.139 33.8514 138.507 34.6238C138.876 35.3963 139.399 35.9891 140.077 36.4022C140.754 36.8154 141.53 37.022 142.404 37.022C143.819 37.022 144.927 36.5729 145.73 35.6747ZM140.237 34.7855C139.738 34.1268 139.488 33.1687 139.488 31.9113C139.488 30.6418 139.735 29.6867 140.228 29.046C140.722 28.4053 141.453 28.0849 142.422 28.0849C143.403 28.0849 144.143 28.4113 144.642 29.064C145.147 29.7107 145.4 30.6598 145.4 31.9113C145.4 33.1747 145.147 34.1358 144.642 34.7945C144.143 35.4472 143.409 35.7735 142.44 35.7735C141.471 35.7735 140.736 35.4442 140.237 34.7855ZM161.353 35.7106C162.131 36.5849 163.228 37.022 164.643 37.022C165.636 37.022 166.459 36.8513 167.113 36.51V35.1897C166.257 35.543 165.422 35.7196 164.607 35.7196C163.656 35.7196 162.937 35.3963 162.449 34.7496C161.968 34.1029 161.727 33.1747 161.727 31.9651C161.727 29.4143 162.72 28.1388 164.705 28.1388C165.003 28.1388 165.345 28.1837 165.731 28.2736C166.117 28.3574 166.474 28.4652 166.801 28.5969L167.256 27.3305C166.988 27.1927 166.62 27.073 166.15 26.9712C165.68 26.8694 165.211 26.8185 164.741 26.8185C163.285 26.8185 162.161 27.2676 161.37 28.1658C160.586 29.064 160.193 30.3364 160.193 31.9831C160.193 33.5879 160.58 34.8304 161.353 35.7106ZM175.451 36.8423L175.156 35.4412H175.085C174.597 36.0579 174.11 36.4771 173.623 36.6986C173.141 36.9142 172.538 37.022 171.812 37.022C170.843 37.022 170.082 36.7705 169.53 36.2675C168.983 35.7645 168.709 35.049 168.709 34.1208C168.709 32.1328 170.288 31.0909 173.444 30.9951L175.103 30.9412V30.3304C175.103 29.558 174.936 28.9891 174.603 28.6239C174.276 28.2526 173.75 28.067 173.025 28.067C172.211 28.067 171.289 28.3185 170.261 28.8215L169.806 27.6808C170.288 27.4173 170.814 27.2107 171.384 27.061C171.961 26.9113 172.538 26.8365 173.114 26.8365C174.279 26.8365 175.141 27.0969 175.7 27.6179C176.265 28.1388 176.547 28.9742 176.547 30.1238V36.8423H175.451ZM172.107 35.7915C173.028 35.7915 173.75 35.537 174.273 35.028C174.803 34.519 175.067 33.8064 175.067 32.8903V32.0011L173.587 32.0639C172.41 32.1059 171.56 32.2915 171.037 32.6208C170.519 32.9442 170.261 33.4502 170.261 34.1388C170.261 34.6777 170.421 35.0879 170.742 35.3693C171.069 35.6507 171.524 35.7915 172.107 35.7915ZM184.894 36.2765C185.571 35.7795 185.91 35.0729 185.91 34.1567C185.91 33.5041 185.705 32.9621 185.295 32.531C184.891 32.0999 184.109 31.6717 182.95 31.2466C182.106 30.9292 181.535 30.6867 181.238 30.5191C180.94 30.3514 180.723 30.1747 180.587 29.9891C180.456 29.8035 180.391 29.5789 180.391 29.3155C180.391 28.9263 180.569 28.6209 180.926 28.3993C181.282 28.1778 181.811 28.067 182.513 28.067C183.309 28.067 184.198 28.2706 185.179 28.6778L185.705 27.4652C184.7 27.0341 183.672 26.8185 182.62 26.8185C181.49 26.8185 180.602 27.052 179.954 27.5191C179.306 27.9802 178.982 28.6119 178.982 29.4143C178.982 29.8634 179.074 30.2496 179.258 30.5729C179.448 30.8963 179.734 31.1867 180.114 31.4442C180.501 31.6957 181.149 31.9921 182.058 32.3334C183.015 32.7047 183.657 33.028 183.984 33.3035C184.317 33.5729 184.484 33.8993 184.484 34.2825C184.484 34.7915 184.275 35.1717 183.859 35.4232C183.443 35.6687 182.849 35.7915 182.076 35.7915C181.577 35.7915 181.056 35.7226 180.515 35.5849C179.98 35.4472 179.478 35.2585 179.008 35.019V36.4022C179.734 36.8154 180.744 37.022 182.04 37.022C183.265 37.022 184.216 36.7735 184.894 36.2765ZM191.483 35.7915C191.745 35.7915 191.998 35.7735 192.241 35.7376C192.485 35.6957 192.678 35.6537 192.821 35.6118V36.7525C192.66 36.8304 192.423 36.8932 192.108 36.9411C191.798 36.995 191.519 37.022 191.269 37.022C189.379 37.022 188.434 36.019 188.434 34.013V28.1568H187.034V27.4382L188.434 26.8185L189.058 24.7167H189.914V26.9981H192.75V28.1568H189.914V33.9502C189.914 34.543 190.054 34.9981 190.333 35.3154C190.612 35.6328 190.996 35.7915 191.483 35.7915ZM200.071 36.2765C200.748 35.7795 201.087 35.0729 201.087 34.1567C201.087 33.5041 200.882 32.9621 200.472 32.531C200.068 32.0999 199.286 31.6717 198.127 31.2466C197.282 30.9292 196.712 30.6867 196.415 30.5191C196.117 30.3514 195.9 30.1747 195.764 29.9891C195.633 29.8035 195.567 29.5789 195.567 29.3155C195.567 28.9263 195.746 28.6209 196.102 28.3993C196.459 28.1778 196.988 28.067 197.69 28.067C198.486 28.067 199.375 28.2706 200.356 28.6778L200.882 27.4652C199.877 27.0341 198.849 26.8185 197.797 26.8185C196.667 26.8185 195.778 27.052 195.13 27.5191C194.482 27.9802 194.159 28.6119 194.159 29.4143C194.159 29.8634 194.251 30.2496 194.435 30.5729C194.625 30.8963 194.911 31.1867 195.291 31.4442C195.677 31.6957 196.325 31.9921 197.235 32.3334C198.192 32.7047 198.834 33.028 199.161 33.3035C199.494 33.5729 199.66 33.8993 199.66 34.2825C199.66 34.7915 199.452 35.1717 199.036 35.4232C198.62 35.6687 198.026 35.7915 197.253 35.7915C196.753 35.7915 196.233 35.7226 195.692 35.5849C195.157 35.4472 194.655 35.2585 194.185 35.019V36.4022C194.911 36.8154 195.921 37.022 197.217 37.022C198.442 37.022 199.393 36.7735 200.071 36.2765Z"
                          fill="#3B3A39" />
                    <path d="M0.584233 11.3632C-0.16566 10.6589 -0.207263 9.47451 0.538371 8.76568C3.29209 6.14789 6.49448 4.04058 9.99689 2.54781C14.071 0.811377 18.4616 -0.0554064 22.8887 0.00274362C27.3159 0.0608937 31.6823 1.0427 35.7096 2.88554C39.1717 4.46979 42.3178 6.66049 45.0021 9.34971C45.7289 10.0779 45.6563 11.2607 44.8883 11.9451C44.1202 12.6295 42.9479 12.5556 42.2155 11.833C39.8789 9.52801 37.1545 7.6464 34.1629 6.27749C30.6062 4.64994 26.7499 3.78283 22.8399 3.73148C18.93 3.68012 15.0523 4.44564 11.4542 5.97921C8.42785 7.26908 5.65513 9.07848 3.259 11.3213C2.50792 12.0244 1.33413 12.0675 0.584233 11.3632Z"
                          fill="#dd0eb3" />
                    <path d="M6.39193 16.4307C5.64117 15.7245 5.59942 14.5363 6.36012 13.8409C8.36889 12.0044 10.676 10.5175 13.1863 9.44667C16.2696 8.1315 19.592 7.47276 22.9429 7.51226C26.2938 7.55176 29.5999 8.28863 32.6514 9.67612C35.1359 10.8058 37.4074 12.3467 39.3725 14.23C40.1166 14.9432 40.047 16.1301 39.2798 16.8184C38.5127 17.5067 37.3392 17.4345 36.5851 16.7319C34.9719 15.2287 33.1236 13.9937 31.11 13.0782C28.5292 11.9047 25.733 11.2815 22.899 11.2481C20.065 11.2147 17.255 11.7718 14.6474 12.8841C12.6128 13.752 10.736 14.943 9.08792 16.4078C8.31753 17.0924 7.1427 17.1369 6.39193 16.4307Z"
                          fill="#dd0eb3" />
                    <path d="M28.4687 30.8941C28.4687 30.0086 29.1853 29.2907 30.0693 29.2907H30.2418C31.1258 29.2907 31.8424 30.0086 31.8424 30.8941V33.3201C31.8424 34.2057 31.1258 34.9235 30.2418 34.9235H30.0693C29.1853 34.9235 28.4687 34.2057 28.4687 33.3201V30.8941Z"
                          fill="#dd0eb3" />
                    <path d="M13.0996 30.8944C13.0996 30.0088 13.8162 29.291 14.7002 29.291H14.8728C15.7567 29.291 16.4733 30.0088 16.4733 30.8944V33.3204C16.4733 34.2059 15.7567 34.9238 14.8728 34.9238H14.7002C13.8162 34.9238 13.0996 34.2059 13.0996 33.3204V30.8944Z"
                          fill="#dd0eb3" />
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M22.471 48.8176C31.7872 48.8176 39.3395 41.2519 39.3395 31.9191C39.3395 22.5864 31.7872 15.0207 22.471 15.0207C13.1548 15.0207 5.60252 22.5864 5.60252 31.9191C5.60252 41.2519 13.1548 48.8176 22.471 48.8176ZM14.8641 26.2863C11.8194 26.2863 9.35108 28.759 9.35108 31.8092V32.4047C9.35108 35.4548 11.8194 37.9275 14.8641 37.9275H19.0323L21.3784 35.1093C21.9472 34.426 22.9949 34.426 23.5637 35.1093L25.9098 37.9275H30.0779C33.1227 37.9275 35.591 35.4549 35.591 32.4047V31.8092C35.591 28.759 33.1227 26.2863 30.0779 26.2863H14.8641Z"
                          fill="#dd0eb3" />
                    <defs>
                        <radialGradient id="paint0_radial_1328:8833"
                                        cx="0"
                                        cy="0"
                                        r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                            <stop offset="0" stop-color="#C00CC0" />
                            <stop offset="1" stop-color="#E10890" />
                        </radialGradient>
                        <radialGradient id="paint1_radial_1328:8833"
                                        cx="0"
                                        cy="0"
                                        r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                            <stop offset="0" stop-color="#C00CC0" />
                            <stop offset="1" stop-color="#E10890" />
                        </radialGradient>
                        <radialGradient id="paint2_radial_1328:8833"
                                        cx="0"
                                        cy="0"
                                        r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                            <stop offset="0" stop-color="#C00CC0" />
                            <stop offset="1" stop-color="#E10890" />
                        </radialGradient>
                        <radialGradient id="paint3_radial_1328:8833"
                                        cx="0"
                                        cy="0"
                                        r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                            <stop offset="0" stop-color="#C00CC0" />
                            <stop offset="1" stop-color="#E10890" />
                        </radialGradient>
                        <radialGradient id="paint4_radial_1328:8833"
                                        cx="0"
                                        cy="0"
                                        r="1"
                                        gradientUnits="userSpaceOnUse"
                                        gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                            <stop offset="0" stop-color="#C00CC0" />
                            <stop offset="1" stop-color="#E10890" />
                        </radialGradient>
                    </defs>
                </svg>
            </a>
            <ul id="menu" class="menu">
                <li class="logo-menu-burger">
                    <svg width="202"
                         height="49"
                         class="logo-image"
                         viewBox="0 0 202 49"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M82.6088 37.022H78.3092L66.9817 18.6142C66.6951 18.1485 66.4579 17.6652 66.2706 17.1646H66.1713C66.2596 17.7003 66.3037 18.8471 66.3037 20.605V37.022H62.5001V11.9775H67.0808L78.0282 29.9487C78.4912 30.694 78.7889 31.2063 78.9212 31.4856H78.9872C78.8771 30.8221 78.8219 29.6985 78.8219 28.1149V11.9775H82.6088V37.022ZM55.6898 37.5664C55.0151 37.5664 54.4417 37.3306 53.9694 36.8587C53.4971 36.3747 53.261 35.8 53.261 35.1347C53.261 34.457 53.4971 33.8764 53.9694 33.3924C54.4417 32.9084 55.0151 32.6664 55.6898 32.6664C56.3757 32.6664 56.9548 32.9084 57.427 33.3924C57.9105 33.8764 58.1523 34.457 58.1523 35.1347C58.1523 35.8 57.9105 36.3747 57.427 36.8587C56.9548 37.3306 56.3757 37.5664 55.6898 37.5664ZM88.0436 37.022H101.631V33.5116H92.0608V26.1065H100.382V22.5961H92.0608V15.5055H101.091V11.9775H88.0436V37.022ZM121.196 15.5055H114.231V37.022H110.208V15.5055H103.261V11.9775H121.196V15.5055ZM156.19 35.522H156.109C155.426 36.522 154.403 37.022 153.042 37.022C151.764 37.022 150.768 36.5819 150.055 35.7016C149.347 34.8214 148.994 33.5699 148.994 31.9472C148.994 30.3244 149.35 29.064 150.064 28.1658C150.777 27.2676 151.77 26.8185 153.042 26.8185C154.368 26.8185 155.384 27.3035 156.092 28.2736H156.208L156.145 27.564L156.109 26.8724V22.8664H157.59V36.8423H156.386L156.19 35.522ZM153.229 35.7735C154.24 35.7735 154.971 35.498 155.423 34.9472C155.881 34.3903 156.109 33.4951 156.109 32.2616V31.9472C156.109 30.552 155.878 29.558 155.414 28.9652C154.956 28.3664 154.222 28.067 153.211 28.067C152.343 28.067 151.678 28.4083 151.214 29.0909C150.756 29.7676 150.527 30.7256 150.527 31.9651C150.527 33.2226 150.756 34.1717 151.214 34.8124C151.672 35.4531 152.343 35.7735 153.229 35.7735ZM134.628 30.6089C135.532 29.8903 135.984 28.8664 135.984 27.537C135.984 24.9862 134.355 23.7107 131.097 23.7107H127.717V36.8423H129.233V31.6777H130.767C132.444 31.6777 133.731 31.3214 134.628 30.6089ZM130.598 30.3664H129.233V25.0311H130.928C132.123 25.0311 133.002 25.2437 133.567 25.6688C134.132 26.0939 134.414 26.7406 134.414 27.6089C134.414 28.573 134.114 29.2736 133.514 29.7107C132.913 30.1478 131.941 30.3664 130.598 30.3664ZM145.73 35.6747C146.533 34.7705 146.934 33.516 146.934 31.9113C146.934 30.3484 146.53 29.1089 145.721 28.1927C144.919 27.2766 143.834 26.8185 142.466 26.8185C141.051 26.8185 139.946 27.2676 139.149 28.1658C138.353 29.058 137.954 30.3065 137.954 31.9113C137.954 32.9472 138.139 33.8514 138.507 34.6238C138.876 35.3963 139.399 35.9891 140.077 36.4022C140.754 36.8154 141.53 37.022 142.404 37.022C143.819 37.022 144.927 36.5729 145.73 35.6747ZM140.237 34.7855C139.738 34.1268 139.488 33.1687 139.488 31.9113C139.488 30.6418 139.735 29.6867 140.228 29.046C140.722 28.4053 141.453 28.0849 142.422 28.0849C143.403 28.0849 144.143 28.4113 144.642 29.064C145.147 29.7107 145.4 30.6598 145.4 31.9113C145.4 33.1747 145.147 34.1358 144.642 34.7945C144.143 35.4472 143.409 35.7735 142.44 35.7735C141.471 35.7735 140.736 35.4442 140.237 34.7855ZM161.353 35.7106C162.131 36.5849 163.228 37.022 164.643 37.022C165.636 37.022 166.459 36.8513 167.113 36.51V35.1897C166.257 35.543 165.422 35.7196 164.607 35.7196C163.656 35.7196 162.937 35.3963 162.449 34.7496C161.968 34.1029 161.727 33.1747 161.727 31.9651C161.727 29.4143 162.72 28.1388 164.705 28.1388C165.003 28.1388 165.345 28.1837 165.731 28.2736C166.117 28.3574 166.474 28.4652 166.801 28.5969L167.256 27.3305C166.988 27.1927 166.62 27.073 166.15 26.9712C165.68 26.8694 165.211 26.8185 164.741 26.8185C163.285 26.8185 162.161 27.2676 161.37 28.1658C160.586 29.064 160.193 30.3364 160.193 31.9831C160.193 33.5879 160.58 34.8304 161.353 35.7106ZM175.451 36.8423L175.156 35.4412H175.085C174.597 36.0579 174.11 36.4771 173.623 36.6986C173.141 36.9142 172.538 37.022 171.812 37.022C170.843 37.022 170.082 36.7705 169.53 36.2675C168.983 35.7645 168.709 35.049 168.709 34.1208C168.709 32.1328 170.288 31.0909 173.444 30.9951L175.103 30.9412V30.3304C175.103 29.558 174.936 28.9891 174.603 28.6239C174.276 28.2526 173.75 28.067 173.025 28.067C172.211 28.067 171.289 28.3185 170.261 28.8215L169.806 27.6808C170.288 27.4173 170.814 27.2107 171.384 27.061C171.961 26.9113 172.538 26.8365 173.114 26.8365C174.279 26.8365 175.141 27.0969 175.7 27.6179C176.265 28.1388 176.547 28.9742 176.547 30.1238V36.8423H175.451ZM172.107 35.7915C173.028 35.7915 173.75 35.537 174.273 35.028C174.803 34.519 175.067 33.8064 175.067 32.8903V32.0011L173.587 32.0639C172.41 32.1059 171.56 32.2915 171.037 32.6208C170.519 32.9442 170.261 33.4502 170.261 34.1388C170.261 34.6777 170.421 35.0879 170.742 35.3693C171.069 35.6507 171.524 35.7915 172.107 35.7915ZM184.894 36.2765C185.571 35.7795 185.91 35.0729 185.91 34.1567C185.91 33.5041 185.705 32.9621 185.295 32.531C184.891 32.0999 184.109 31.6717 182.95 31.2466C182.106 30.9292 181.535 30.6867 181.238 30.5191C180.94 30.3514 180.723 30.1747 180.587 29.9891C180.456 29.8035 180.391 29.5789 180.391 29.3155C180.391 28.9263 180.569 28.6209 180.926 28.3993C181.282 28.1778 181.811 28.067 182.513 28.067C183.309 28.067 184.198 28.2706 185.179 28.6778L185.705 27.4652C184.7 27.0341 183.672 26.8185 182.62 26.8185C181.49 26.8185 180.602 27.052 179.954 27.5191C179.306 27.9802 178.982 28.6119 178.982 29.4143C178.982 29.8634 179.074 30.2496 179.258 30.5729C179.448 30.8963 179.734 31.1867 180.114 31.4442C180.501 31.6957 181.149 31.9921 182.058 32.3334C183.015 32.7047 183.657 33.028 183.984 33.3035C184.317 33.5729 184.484 33.8993 184.484 34.2825C184.484 34.7915 184.275 35.1717 183.859 35.4232C183.443 35.6687 182.849 35.7915 182.076 35.7915C181.577 35.7915 181.056 35.7226 180.515 35.5849C179.98 35.4472 179.478 35.2585 179.008 35.019V36.4022C179.734 36.8154 180.744 37.022 182.04 37.022C183.265 37.022 184.216 36.7735 184.894 36.2765ZM191.483 35.7915C191.745 35.7915 191.998 35.7735 192.241 35.7376C192.485 35.6957 192.678 35.6537 192.821 35.6118V36.7525C192.66 36.8304 192.423 36.8932 192.108 36.9411C191.798 36.995 191.519 37.022 191.269 37.022C189.379 37.022 188.434 36.019 188.434 34.013V28.1568H187.034V27.4382L188.434 26.8185L189.058 24.7167H189.914V26.9981H192.75V28.1568H189.914V33.9502C189.914 34.543 190.054 34.9981 190.333 35.3154C190.612 35.6328 190.996 35.7915 191.483 35.7915ZM200.071 36.2765C200.748 35.7795 201.087 35.0729 201.087 34.1567C201.087 33.5041 200.882 32.9621 200.472 32.531C200.068 32.0999 199.286 31.6717 198.127 31.2466C197.282 30.9292 196.712 30.6867 196.415 30.5191C196.117 30.3514 195.9 30.1747 195.764 29.9891C195.633 29.8035 195.567 29.5789 195.567 29.3155C195.567 28.9263 195.746 28.6209 196.102 28.3993C196.459 28.1778 196.988 28.067 197.69 28.067C198.486 28.067 199.375 28.2706 200.356 28.6778L200.882 27.4652C199.877 27.0341 198.849 26.8185 197.797 26.8185C196.667 26.8185 195.778 27.052 195.13 27.5191C194.482 27.9802 194.159 28.6119 194.159 29.4143C194.159 29.8634 194.251 30.2496 194.435 30.5729C194.625 30.8963 194.911 31.1867 195.291 31.4442C195.677 31.6957 196.325 31.9921 197.235 32.3334C198.192 32.7047 198.834 33.028 199.161 33.3035C199.494 33.5729 199.66 33.8993 199.66 34.2825C199.66 34.7915 199.452 35.1717 199.036 35.4232C198.62 35.6687 198.026 35.7915 197.253 35.7915C196.753 35.7915 196.233 35.7226 195.692 35.5849C195.157 35.4472 194.655 35.2585 194.185 35.019V36.4022C194.911 36.8154 195.921 37.022 197.217 37.022C198.442 37.022 199.393 36.7735 200.071 36.2765Z"
                              fill="#3B3A39" />
                        <path d="M0.584233 11.3632C-0.16566 10.6589 -0.207263 9.47451 0.538371 8.76568C3.29209 6.14789 6.49448 4.04058 9.99689 2.54781C14.071 0.811377 18.4616 -0.0554064 22.8887 0.00274362C27.3159 0.0608937 31.6823 1.0427 35.7096 2.88554C39.1717 4.46979 42.3178 6.66049 45.0021 9.34971C45.7289 10.0779 45.6563 11.2607 44.8883 11.9451C44.1202 12.6295 42.9479 12.5556 42.2155 11.833C39.8789 9.52801 37.1545 7.6464 34.1629 6.27749C30.6062 4.64994 26.7499 3.78283 22.8399 3.73148C18.93 3.68012 15.0523 4.44564 11.4542 5.97921C8.42785 7.26908 5.65513 9.07848 3.259 11.3213C2.50792 12.0244 1.33413 12.0675 0.584233 11.3632Z"
                              fill="#dd0eb3" />
                        <path d="M6.39193 16.4307C5.64117 15.7245 5.59942 14.5363 6.36012 13.8409C8.36889 12.0044 10.676 10.5175 13.1863 9.44667C16.2696 8.1315 19.592 7.47276 22.9429 7.51226C26.2938 7.55176 29.5999 8.28863 32.6514 9.67612C35.1359 10.8058 37.4074 12.3467 39.3725 14.23C40.1166 14.9432 40.047 16.1301 39.2798 16.8184C38.5127 17.5067 37.3392 17.4345 36.5851 16.7319C34.9719 15.2287 33.1236 13.9937 31.11 13.0782C28.5292 11.9047 25.733 11.2815 22.899 11.2481C20.065 11.2147 17.255 11.7718 14.6474 12.8841C12.6128 13.752 10.736 14.943 9.08792 16.4078C8.31753 17.0924 7.1427 17.1369 6.39193 16.4307Z"
                              fill="#dd0eb3" />
                        <path d="M28.4687 30.8941C28.4687 30.0086 29.1853 29.2907 30.0693 29.2907H30.2418C31.1258 29.2907 31.8424 30.0086 31.8424 30.8941V33.3201C31.8424 34.2057 31.1258 34.9235 30.2418 34.9235H30.0693C29.1853 34.9235 28.4687 34.2057 28.4687 33.3201V30.8941Z"
                              fill="#dd0eb3" />
                        <path d="M13.0996 30.8944C13.0996 30.0088 13.8162 29.291 14.7002 29.291H14.8728C15.7567 29.291 16.4733 30.0088 16.4733 30.8944V33.3204C16.4733 34.2059 15.7567 34.9238 14.8728 34.9238H14.7002C13.8162 34.9238 13.0996 34.2059 13.0996 33.3204V30.8944Z"
                              fill="#dd0eb3" />
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M22.471 48.8176C31.7872 48.8176 39.3395 41.2519 39.3395 31.9191C39.3395 22.5864 31.7872 15.0207 22.471 15.0207C13.1548 15.0207 5.60252 22.5864 5.60252 31.9191C5.60252 41.2519 13.1548 48.8176 22.471 48.8176ZM14.8641 26.2863C11.8194 26.2863 9.35108 28.759 9.35108 31.8092V32.4047C9.35108 35.4548 11.8194 37.9275 14.8641 37.9275H19.0323L21.3784 35.1093C21.9472 34.426 22.9949 34.426 23.5637 35.1093L25.9098 37.9275H30.0779C33.1227 37.9275 35.591 35.4549 35.591 32.4047V31.8092C35.591 28.759 33.1227 26.2863 30.0779 26.2863H14.8641Z"
                              fill="#dd0eb3" />
                        <defs>
                            <radialGradient id="paint0_radial_1328:8833"
                                            cx="0"
                                            cy="0"
                                            r="1"
                                            gradientUnits="userSpaceOnUse"
                                            gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                                <stop offset="0" stop-color="#C00CC0" />
                                <stop offset="1" stop-color="#E10890" />
                            </radialGradient>
                            <radialGradient id="paint1_radial_1328:8833"
                                            cx="0"
                                            cy="0"
                                            r="1"
                                            gradientUnits="userSpaceOnUse"
                                            gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                                <stop offset="0" stop-color="#C00CC0" />
                                <stop offset="1" stop-color="#E10890" />
                            </radialGradient>
                            <radialGradient id="paint2_radial_1328:8833"
                                            cx="0"
                                            cy="0"
                                            r="1"
                                            gradientUnits="userSpaceOnUse"
                                            gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                                <stop offset="0" stop-color="#C00CC0" />
                                <stop offset="1" stop-color="#E10890" />
                            </radialGradient>
                            <radialGradient id="paint3_radial_1328:8833"
                                            cx="0"
                                            cy="0"
                                            r="1"
                                            gradientUnits="userSpaceOnUse"
                                            gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                                <stop offset="0" stop-color="#C00CC0" />
                                <stop offset="1" stop-color="#E10890" />
                            </radialGradient>
                            <radialGradient id="paint4_radial_1328:8833"
                                            cx="0"
                                            cy="0"
                                            r="1"
                                            gradientUnits="userSpaceOnUse"
                                            gradientTransform="translate(3.32964e-06 0.00281523) rotate(48.365) scale(65.3135 298.459)">
                                <stop offset="0" stop-color="#C00CC0" />
                                <stop offset="1" stop-color="#E10890" />
                            </radialGradient>
                        </defs>
                    </svg>
                </li>
                <li>
                    <a href="#features" onclick="removeClass()" title="Features">Features</a>
                </li>
                <li>
                    <a href="#featured" onclick="removeClass()" title="Featured Podcasts">Featured Podcasts</a>
                </li>
                <li>
                    <a href="#available" onclick="removeClass()" title="Available on...">Available on...</a>
                </li>
                <li>
                    <a href="#dotnet" onclick="removeClass()" title="Powered by .NET">Powered by .NET</a>
                </li>
                <li>
                    <a href="/discover" onclick="removeClass()" title="Sign In" class="menu-button">Sign In</a>
                </li>
            </ul>
            <button class="menu-burger" onclick="addClass()">
                <svg class="menu-burger__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6.75C3 6.33579 3.33579 6 3.75 6H19.75C20.1642 6 20.5 6.33579 20.5 6.75C20.5 7.16421 20.1642 7.5 19.75 7.5H3.75C3.33579 7.5 3 7.16421 3 6.75ZM3 11.75C3 11.3358 3.33579 11 3.75 11H19.75C20.1642 11 20.5 11.3358 20.5 11.75C20.5 12.1642 20.1642 12.5 19.75 12.5H3.75C3.33579 12.5 3 12.1642 3 11.75ZM3.75 16C3.33579 16 3 16.3358 3 16.75C3 17.1642 3.33579 17.5 3.75 17.5H19.75C20.1642 17.5 20.5 17.1642 20.5 16.75C20.5 16.3358 20.1642 16 19.75 16H3.75Z" fill="#fff" />
                </svg>
            </button>
            <button class="close-menu-burger" onclick="removeClass()">
                <svg class="menu-burger__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2197 6.21967C16.5126 5.92678 16.9874 5.92678 17.2803 6.21967C17.5732 6.51256 17.5732 6.98744 17.2803 7.28033L12.8107 11.75L17.2803 16.2197C17.5732 16.5126 17.5732 16.9874 17.2803 17.2803C16.9874 17.5732 16.5126 17.5732 16.2197 17.2803L11.75 12.8107L7.28033 17.2803C6.98744 17.5732 6.51256 17.5732 6.21967 17.2803C5.92678 16.9874 5.92678 16.5126 6.21967 16.2197L10.6893 11.75L6.21967 7.28033C5.92678 6.98744 5.92678 6.51256 6.21967 6.21967C6.51256 5.92678 6.98744 5.92678 7.28033 6.21967L11.75 10.6893L16.2197 6.21967Z" fill="white" />
                </svg>
            </button>
        </nav>
    </header>
    <main>
        <section class="section section__hero">
            <div class="hero-wrapper">
                <h1 class="hero-title">
                    The first podcast app powered by .NET MAUI &amp; Blazor
                </h1>
                <p class="hero-description">
                    Take your favorite tech podcasts with you wherever you are with .NET Podcasts. Native, cross-platform, and powered by .NET across Android, iOS, macOS, Windows, and Web.
                </p>
                <ul class="hero-download">
                    <li>
                        <a href="https://github.com/microsoft/dotnet-podcasts" title="Download on the App Store">
                            <img src="images/download-app_store.png"
                                 alt="Download on the App Store"
                                 loading="lazy" />
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/microsoft/dotnet-podcasts" title="Get it on Google Play">
                            <img src="images/download-google_play.png"
                                 alt="Get it on Google Play"
                                 loading="lazy" />
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/microsoft/dotnet-podcasts" title="Get it from Microsoft">
                            <img src="images/download-microsoft.png"
                                 alt="Get it from Microsoft"
                                 loading="lazy" />
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section id="features" class="section">
            <h2 class="section-title" data-title="Features">Features</h2>
            <div class="section-grid">
                <p class="section-description">
                    Discover the app that lets you to listen to your favorite tech podcasts on the go, from any device, with topics including .NET, Azure, Microsoft 365, and
                    much more.
                </p>
                <div class="features-grid">
                    <div>
                        <img src="images/features-01.png"
                             alt="Discover the best podcasts that match your interests"
                             loading="lazy" />
                        <p>
                            Discover the best podcasts that match your interests.
                        </p>
                    </div>
                    <div>
                        <img src="images/features-02.png"
                             alt="Create rooms and listen to podcasts in real time with your friends."
                             loading="lazy" />
                        <p>
                            Create rooms and listen to podcasts in real time with your friends.
                        </p>
                    </div>
                    <div>
                        <img src="images/features-03.png"
                             alt="Add podcasts you want to listen to later."
                             loading="lazy" />
                        <p>
                            Add podcasts you want to listen to later.
                        </p>
                    </div>
                    <div>
                        <img src="images/features-04.png"
                             alt="Subscribe to the channels you like the most."
                             loading="lazy" />
                        <p>
                            Subscribe to the channels you like the most.
                        </p>
                    </div>
                    <div>
                        <img src="images/features-05.png"
                             alt="Listen for free without ads."
                             loading="lazy" />
                        <p>
                            Listen for free without ads.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="featured" class="section">
            <h2 class="section-title" data-title="Featured Podcasts">Featured Podcasts</h2>
            <div class="section-grid">
                <p class="section-description">
                    Here are some top rated .NET podcasts to get you started!
                </p>
            </div>
            <div class="section-grid featured-grid">
                @foreach (var podcast in Model.FeaturedShows ?? new Show[] { })
                {
                    <div class="featured-item">
                        <picture class="featured-item__picture">
                            <img src="@podcast.Image" alt="@podcast.Title" loading="lazy" />
                        </picture>
                        <h3 class="featured-item__title">@podcast.Title</h3>
                        <p class="featured-item__author">@podcast.Author</p>
                    </div>
                }
            </div>
            <a href="/discover" class="buttonApp primary" title="Discover more">
                <span>Discover more</span>
            </a>
        </section>
        <section id="available" class="section">
            <h2 class="section-title" data-title="Available on">Available on...</h2>
            <div class="section-grid">
                <p class="section-description">
                    <a href="https://aka.ms/dotnet-maui-landing" target="_blank">.NET Multi-platform App UI (.NET MAUI)</a> is a cross-platform framework for creating native mobile
                    and desktop apps with C# and .NET. This application is compatible across
                    iOS, Android, macOS, Windows, as well as a Web experience powered by <a href="https://blazor.net" target="_blank">Blazor</a>.
                </p>
            </div>
            <div class="section-grid available-grid">
                <div class="devices-wrapper">
                    <img src="images/device_Android.png" alt="Android device" loading="lazy" />
                    <img src="images/device_iPhone.png"
                         class="devices-float-image"
                         alt="iPhone device"
                         loading="lazy" />
                </div>
                <div class="platforms-wrapper">
                    <div>
                        <img src="images/available-apple.svg" alt="iOS" loading="lazy" />
                        <p>
                            iOS
                        </p>
                    </div>
                    <div>
                        <img src="images/available-android.svg" alt="Android" loading="lazy" />
                        <p>
                            Android
                        </p>
                    </div>
                    <div>
                        <img src="images/available-windows.svg" alt="Windows" loading="lazy" />
                        <p>
                            Windows
                        </p>
                    </div>
                    <div>
                        <img src="images/available-web.svg" alt="Web" loading="lazy" />
                        <p>
                            Web
                        </p>
                    </div>
                </div>
                <div class="screen-wrapper">
                    <img src="images/device_Screen_home.png" alt="Desktop look" loading="lazy" />
                </div>
            </div>
        </section>
        <section id="dotnet" class="section">
            <h2 class="section-title" data-title="Powered by .NET">Powered by .NET &amp; Azure</h2>
            <div class="section-grid">
                <p class="section-description">
                    <b>.NET Podcasts is powered by .NET &amp; hosted in Azure</b>
                    In addition to the native mobile and desktop apps powered by
                    <a href="https://aka.ms/dotnet-maui-landing" target="_blank">.NET MAUI</a>
                    and web app powered by <a href="https://blazor.net">Blazor</a>, 
                    .NET Podcasts runs powerful backend Web APIs, service workers, 
                    and SignalR hubs powered by <a href="https://dotnet.microsoft.com/apps/aspnet/apis" target="_blank">ASP.NET Core</a>.
                    This is all brought together with Azure and microservices powered 
                    by <a href="https://azure.microsoft.com/services/container-apps">Azure Container Apps</a>.
                </p>
            </div>
            <img src="images/microsoft-logo.svg"
                 alt="Microsoft logo"
                 loading="lazy"
                 class="logo-microsoft" />
        </section>
    </main>
    <footer>
        <div class="footer-menu">
            <img src="images/logo-white-flat.svg" alt=".NET Podcasts" loading="lazy" />
            <ul>
                <li>
                    <a href="#" title="Get support" target="_blank">Get support</a>
                </li>
                <li>
                    <a href="#" title="Features" target="_blank">Features</a>
                </li>
                <li>
                    <a href="" title="Powered by .NET" target="_blank">Powered by .NET</a>
                </li>
            </ul>
        </div>
        <p class="copyright">
            © Copyright 2022. Microsoft | <a href="https://github.com/microsoft/dotnet-podcasts" target="_blank">Open source on GitHub</a>
        </p>
    </footer>

    <script src="js/scripts.js"></script>
</body>
</html>
