.picture {
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 4px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  width: 100%;
  display: flex;
}

.picture img {
  color: var(--c-neutral-dark);
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  aspect-ratio: 1/1;
  background-color: var(--c-neutral-grey3);
}
