@inherits LayoutComponentBase

<div class="page">
    <div class="page__header">
        <Header />
    </div>

    <div class="page__sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>

    <PlayerBar />
    <Audio />
</div>